<div id="gameCanvasMargin">
  <canvas id="gameCanvas" height=500 width=800></canvas>
  <div id="c_right">
    <div id="chat_outer">
      <div id="chat"></div>
      <input type="text" name="text" id="text">
      <input type="button" name="send" id="send" value="send">
  </div>
  </div>
</div>
