<form action = "create_char" method = "post">
  name: <input type="text" name="c_name">
  <input type="submit" name="char_type" value="redhatter" />
</form>
</br>
</br>
<form action = "create_char" method = "post">
  name: <input type="text" name="c_name">
  <input type="submit" name="char_type" value="fly" />
</form>
