-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <title>Amara | Signup</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body    { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">
<% if (message.length > 0) { %>
<p><%= message %></p>
<% } %>
<form action = "create_char" method = "post">
  name: <input type="text" name="c_name">
  <input type="submit" name="char_type" value="Redhatter" />
  <input type="submit" name="char_type" value="Fly" />
  <input type="submit" name="char_type" value="Bowman" />
  <input type="submit" name="char_type" value="Shanker" />
  <input type="submit" name="char_type" value="Crevice" />
</form>
</div>
</body>
</html>
