 <head>
    <title>AMARA</title>
    <meta charset="utf-8">
    <meta name="author" content="hassooni">
    <meta name="description" content="Amara: 2D sidescroller MMOPVP Game. Created in Node.js and HTML5 Canvas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="styles/game.css">

    <% if ('development' === process.env.NODE_ENV) { %>
    	<% var url = "//localhost:5000/localAssets/";%>
    	<link rel="stylesheet" href="//localhost:5000/localAssets/bootstrap.min.css"> 
    	<link rel="stylesheet" href="//localhost:5000/localAssets/font-awesome.min.css"> 
    <% } else {%>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <% } %>
 </head>
