<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
    <div id="canvas_and_chat">
    <div style="margin-right: 50px;">
     <h3>Arena of the Bits</h3>
     <p>Break into the enemy teams castle, destroy the door.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <small> Currently in open Alpha. </small>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
     Controls: WASD, Spacebar, Left-click & Right-click. Enter to chat.
</br>
	<strong>Next War: TBD  </strong>

<a style=" padding-left: 263px;"href="https://www.facebook.com/groups/1603001516631450/"> Alpha Testers Facebook Group</a>
 </p>
  </div>
    <%- include _canvas.ejs %>
    <%- include _chat.ejs %>
    </div>
    <%- include _scripts.ejs %>
  </body>
</html>
