<!DOCTYPE html>

<html lang="en">

  <head>
    <title>A multiplayer game built using HTML5 canvas and WebSockets</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="styles/game.css">
  </head>

  <body>
o
    <canvas id="gameCanvas"></canvas>
    <script src="scripts/requestAnimationFrame.js"></script>
    <script src="scripts/Keys.js"></script>
    <script src="scripts/Player.js"></script>
    <script src="scripts/game.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Initialise the game
      APP_URL = <%= process.env.APP_URL %>;
      PORT = <%=process.env.PORT || 4000 %>;
      init();
      animate();
    </script>
  </body>
</html>
