<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
    <div id="canvas_and_chat">
    <div style="margin-right: 50px;">
     <h3>Arena of the Bits</h3>
     <p>Destroy the other teams tower. </p>
    </div>
    <%- include _canvas.ejs %>
    <%- include _chat.ejs %>
    </div>
    <%- include _scripts.ejs %>
  </body>
</html>
