<%if  (authenticated ) {%>
  <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
  <a href="/logout" class="btn btn-default">Logout</a>
  Code: <a href="https://twitter.com/millenialpride"><span class="fa fa-twitter"></span>Hassan Shaikley</a>
  Art: <a><span class=""></span>Jason Davies</a>
  <% if (typeof character === 'undefined'){%>
  <%} else { %>
    <% characterRace = character.race %>
    <% characterGold = character.gold %>
  <% }} else{ %>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> <a href=""> Do not support switching tabs yet. Must refresh after. </a>
<% } %>

