<!doctype html>
<html>
  <head>
    <title>Amara | Profile </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
      body 		{ padding-top:80px; word-wrap:break-word; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      </br>
      <a href="create_character"> create character</a>
      </br>
      </br>
      <form action="/" method="post">
        <div class="row">
          <div class="col-sm-12">
            <% for( var i= 0; i< characters.length; i++ ){ %>
            <button value="<%= characters[i].id %>" name="charId">
              <h3><span class="fa fa-user"></span> Play </h3>
              <p>
              <strong>Character </strong>: <%= characters[i].race %>
              <h3><span class="fa fa-user"></span> <%= characters[i].name %></h3>
              </p>
            </button>
            <% } %>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
