<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>
 
  <body>
  <script>
      var debug = <%=process.env.DEBUG_MODE%>;
      var development = true;
    </script>
      var localPlayerName = "unknown";
      var characterType = "Fly";
    </script>
  <div id="mocha"><p><a href=".">Index</a></p></div>
  <div id="messages"></div>
  <div id="fixtures"></div>
    <div id="gameCanvasMargin">
      <canvas id="gameCanvas" height=500 width=800></canvas>
      <div id="c_right">
      <div id="chat_outer">
        <div id="chat">
        </div>
        <input type="text" name="text" id="text">
        <input type="button" name="send" id="send" value="send">
      </div>
    </div>
    </div>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/assetLoader.js"></script>
    <script src="scripts/animationframe.js"></script>
    <script src="scripts/blood.js"></script>
    <script src="scripts/shrine.js"></script>
    <script src="scripts/player.js"></script>
    <script src="scripts/fly.js"></script>
    <script src="scripts/grimes.js"></script>
    <script src="scripts/redhatter.js"></script>
    <script src="scripts/skelly.js"></script>
    <script src="scripts/bowman.js"></script>
    <script src="scripts/shanker.js"></script>
    <script src="scripts/crevice.js"></script>
    <script src="scripts/spellsandprojectiles.js"></script>
    <script src="scripts/tortstun.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/keys.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/chai.js" type="text/javascript"></script>
    <script src="scripts/mocha.js"></script>

    <script>mocha.setup('bdd')</script>
    <script src="scripts/test.js"></script>

    <script>
      // Initialise the game
      PORT = <%=process.env.PORT || 5000 %>;
      init();
      animate();
    </script>

    <script>mocha.run();</script>


  </body>
</html>
