<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AMARA</title>
    <meta charset="utf-8">
    <meta name="author" content="hassooni">
    <meta name="description" content="Amara: 2D sidescroller MMOPVP Game. Created in Node.js and HTML5 Canvas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script>
      var debug = <%=process.env.DEBUG_MODE%>;
      var development = true;
    </script>
    <link rel="stylesheet" href="styles/game.css">
  </head>
  <body>
    <script>
      var localPlayerName = "unknown";
      var characterType = "Fly";
    </script>
  <div id="mocha"><p><a href=".">Index</a></p></div>
  <div id="messages"></div>
  <div id="fixtures"></div>
    <div id="gameCanvasMargin">
      <div id="c_right">
      <div id="chat_outer">
        <div id="chat">
        </div>
        <input type="text" name="text" id="text">
        <input type="button" name="send" id="send" value="send">
      </div>
    </div>
    </div>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/assetLoader.js"></script>
    <script src="scripts/animationframe.js"></script>
    <script src="scripts/blood.js"></script>
    <script src="scripts/shrine.js"></script>
    <script src="scripts/player.js"></script>
    <script src="scripts/fly.js"></script>
    <script src="scripts/redhatter.js"></script>
    <script src="scripts/skelly.js"></script>
    <script src="scripts/bowman.js"></script>
    <script src="scripts/shanker.js"></script>
    <script src="scripts/crevice.js"></script>
    <script src="scripts/spellsandprojectiles.js"></script>
    <script src="scripts/game.js"></script>
    <script src="scripts/keys.js"></script>
    <script src="/socket.io/socket.io.js"></script>
<script src="scripts/chai.js" type="text/javascript"></script>
  <script src="scripts/mocha.js"></script>
  <script>mocha.setup('bdd')</script>


    <script src="scripts/test.js"></script>
  <script>mocha.run();</script>

    <script>
      // Initialise the game
      PORT = <%=process.env.PORT || 5000%>;
      init();
      animate();
    </script>


  </body>
</html>
