<div id="right_controls">
        <% if (authenticated ) {%>
          <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
          <a href="/logout" class="btn btn-default">Logout</a>
        <% } else{ %>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> </br>

        <% } %>
        </br>
        <a href="javascript:void(0)" onclick="switchTeams();" class="btn btn-default">Switch Team</a> </br>

	</br>
          Code: <a href="https://twitter.com/millenialpride"><span class="fa fa-twitter"></span> Hassan Shaikley</a>
          Art: <a href="https://www.facebook.com/jason.davies.7545?fref=ts"><span class="fa fa-facebook"></span> Jason Davies</a>
	<div id="c_right">
	  <div id="chat_outer">
	      <div id="chat"></div>
	      <input type="text" name="text" id="text">
	      <input type="button" name="send" id="send" value="send">
	  </div>
	</div>
</div>
