<div id="controls">
<strong>Controls:</strong> </br>
  Move : W, A, S, D &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Jump : Spacebar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Meelee Attack : Left Click&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Ability One : Right Click&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Ability Two : q
</br>
<strong>Teams:</strong></br>
Red team has a red HP bar &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Green team has a green HP bar
</br>
<strong>How to Win:</strong></br>
First team to 20 kills wins
</br>
<strong>How to Change characters:</strong></br>
Refresh for random. Login to pick.
</div>
