<div id="controls">
<strong>Controls:</strong> </br>
  Move : w, a, s, d &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Jump : spacebar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Meelee Attack : left click&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Ability One : right click&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Ability Two : q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Chat : enter
</br>
<strong>Teams:</strong></br>
Red team has a red HP bar &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Green team has a green HP bar
</br>
<strong>How to Win:</strong></br>
First team to 20 kills wins
</br>
<strong>How to Change characters:</strong></br>
Refresh for random. Login to pick.
</div>
