<div id="controls">
Controls: </br>
  W, A, S, D - Move
  Spacebar - Jump
  Left Click - Melee Attack
  Right Click - Ability One
  Q - Ability 2
</br>
Red team has a red HP bar </br>
Green team has a green HP bar
</div>
