<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
    <div id="mocha"><p><a href=".">Index</a></p></div>
    <%- include _scripts.ejs %>
    <script src="scripts/Libs/chai.js" type="text/javascript"></script>
    <script src="scripts/Libs/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="scripts/Tests/test.js"></script>
    <script src="scripts/Tests/units.js"></script>
    <script src="scripts/Tests/game.js"></script>
    <script src="scripts/Tests/redhatter.js"></script>

    <script>
      mocha.run();
    </script>
 </body>
</html>