
body {
  	background: cornflowerblue;
  	background: crimson;
	font-family: 'VT323';

}

#gameCanvas {
  background-color: #A0CFEC;
  background-color: #773244;
  height: 500px;

  border: 5px solid black;
}
#gameCanvasMargin{
	  margin: auto;
  display: block;
  width: 1065px;
}

#chat {
	overflow-y: scroll;
	height: 150px;
	word-wrap: normal

}

#chat_outer #chat_text {
	opacity: 1;

}

#send {
	opacity: .8;
}

#chat_outer {
	/* SAIFS HOLY LINE*/
/* O: */top: 358px; /* OMG OMG OMG */
	/* DELETE AND U DIE */
	width: 250px;
	padding-left: 10px;
  border: 5px solid black;

}
#text, #chat_outer, #send,  ::-webkit-scrollbar{
	background-color: rgba(47, 79, 79, 0.3)
}
#text, #send {
	border: 0px;
	border-bottom: 1px solid #333; 
	height: 25px;
}

#chat, #send, #text {
	color: #bbb;
}

#utilityCanvas ,#infoBar { 
  background: #888;
  border: 5px solid black;
  background-color: rgba(135, 8, 25, 0.59);
}

#c_right {
float: right;
}
