body {
  background: cornflowerblue;
  background: crimson;
}

#gameCanvas {
  background-color: #A0CFEC;
  width: 800px;
  height: 500px;
  margin: auto;
  display: block;
  border: 5px solid black;
}
